<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title.menu}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>

<body>
    <div class="container ">
        <div class="jumbotron">
            <h1>Menu de Contenido</h1>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="http://127.0.0.1:5000/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://127.0.0.1:5000/noticias" class="nav-link">Noticias</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://127.0.0.1:5000/registro" class="nav-link">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/usuarios" class="nav-link">Usuarios</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>